*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(45deg,lightblue, blue);
}
.caja{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 800px;
    margin: 130px auto;
    border: 1px solid rgb(185, 180, 180);
    border-radius: 16px;
    box-shadow: 1px 1px 10px rgb(75, 73, 73);
    background: radial-gradient(#ffffff,#dadada)
}
h1{
    font-size: 3rem;
    margin: 25px 10;
}
input{
    padding: 2rem;
}
  /* Estilos para mensajes de resultado */
  .resultado {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 65%;
  }
